
#ffdl-settings-inner-body .row .col-sm-6 {
    padding-right:0px ;
    padding-left: 0 ;

    padding-top: 1%;
    padding-bottom: 1%;
}


#ffdl-settings-inner-body .row .col-sm-6 {
    padding-right:0px ;
    padding-left: 0 ;

    padding-top: 1%;
    padding-bottom: 1%;
}


 .custom-commission-settings-div .jumbotron h1 {
font-size: 3em;

}

.custom-commission-settings-div .container {
    display: flex;
    justify-content: center;
    align-items: center; 
    }
    

